* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	position: relative;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
}

header > h1 {
	/* position: absolute; */
	/* bottom: 0; */
	font-size: 36px;
	word-wrap: break-word;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}
article {
	padding: 10px;
	line-height: 150%;
}

article img {
	max-width: 80%;
}

footer {
	background-color: #000;
	min-height: 200px;
	text-align: center;
	padding: 10px;
	color: #fff;
}

.media_icon {
	max-width: 50px;
	max-height: 50px;
}
.media_icon svg{
	position: relative;
	width: 40px;
	height: 40px;
	/* background-color: #fff; */
}
svg::after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 10px;	
}

li {
	margin-top: 20px;
}

.emph {
	font-weight: 700;
}
pre {
	display: inline;
	font-size: 130%;
	background-color: bisque;
	margin: 0;
}

/**/

span[special] {
	color: rgb(45, 178, 17);
}
