* {
  box-sizing: border-box;
}
head, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  position: relative;
  height: 150px;
  background-image: url("./Test-article/Untitled.jpg");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  color: #fff;
  text-align: center;
}

header > h1 {
	position: absolute;
	bottom: 0;
	font-size: 29px;
	word-wrap: break-word;
  width: 100%;
  margin-left: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

article {
  padding: 20px;
  height: 100%;
}

.article {
  width: 100%;
  display: flex;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 8px;
}
.article img {
  width: 110px;
  height: 110px;
}

.article_descriptor {
  padding-left: 15px;
}
.article_descriptor h2 {
  margin: 0;
  font-size: 22px;
}
.article_descriptor p {
  font-size: 14px;
  margin-top: 10px;
}